index.pug
html
    head
        title CareAxiom Test
    body
        h1 Following are the titles of given websites:
    if (websites && websites.length > 0)
        ul
            each site in websites
                li= site
    else
        p Empty list